@charset "utf-8";

.centered{
    text-align: center;
}

.levelup{

    margin-top : -150px;

}

.backcontent
{
}

#footer{
    text-align: center;
}

#gauche
{
    background-color: gray;
    border-width: 0px;
}

.backcontainer
{
    background-image : url('../img/ninja-chars.png');
}

.backcontent
{
    background-color: gray;
}
#h1top
{
    margin-top:0px;
    margin-bottom: 0;
    height: 130px;
    background-image : url('../img/ninja-chars.png');
    color: #ff925d;
}

#titrecolor
{
    color : white;
    font-family: cursive;
}

#map
{
    background-color: white;
}

#FightermoveSightForm
{
    margin-right:100px;
}

#ChangeLevelSightForm
{
    margin-right:100px;
}

#FighterattackSightForm
{
    margin-right:150px;
}

.navbar.navbar-default
{
    color :black;
}

body{
    background-color: gray;
}

footer
{
    background-color: white;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 60px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}
.container .credit {
    margin: 20px 0;
}